{% extends '::base.html.twig' %}


{% block pageheader %}
    <h1>Sort the Terms Of Use</h1>
{% endblock %}

{% block body -%}

    <p>Drag and drop the terms below to set their order. This form will only
        show the current English-language terms, but will apply the sorting to all
        terms, based on the key.</p>

    <form action='{{ url('termofuse_sort') }}' method='post' name='order'>

        <input type='hidden' name='order' id='order' value=''/>

        <ul class='list-group' id='list-order'>

            {% for entity in entities %}

                <li class='list-group-item' id='{{ entity.keyCode }}'>
                    {{ entity.content }}<br/>
                    <span class='text-muted'>{{ entity.keyCode }}</span>
                </li>

            {% endfor %}

        </ul>

        <div class='form-group'>
            <button type='submit' class='btn btn-primary'>Save</button>
        </div>

    </form>

{% endblock %}

{% block javascripts %}
        <script>
        $(document).ready(function () {
            $('#list-order').sortable({
                containment: 'parent',
                cursor: 'move'
            });
            $('button').click(function () {
                $('#order').val($("#list-order").sortable("toArray"));
            });
        });
    </script>
{% endblock %}