{% extends '::base.html.twig' %}

    
{% block pageheader %}
    <h1>New Blacklist</h1>
{% endblock %}

{% block body -%}

    {{ form(form, {"style": "horizontal"}) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('blacklist') }}">
            Back to the list
        </a>
    </li>


</ul>
{% endblock %}
